
.card {
  margin: 1rem 0 0 0;
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: #3f51b5;
  cursor: pointer;
}

.picture-width {
  min-width: 80px;
}

.picture {
  position: absolute;
  min-width: 74px;
  height: 74px;
  left: 18px;
  top: 25px;
  border-radius: 5px;
}

.label-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4C5164;
  padding-top: 1rem;
}

.label-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #81879C;
  padding-top: 1rem;
}

.label-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #81879C;
  padding-left: 1rem;
  padding-top: 1rem;
}
