<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Welcome!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Skils test project - Developer Fullstack
  </mat-card-subtitle>
  <mat-list role="list">
    <mat-list-item role="listitem" class="subtitle">Componentização em Angular 10</mat-list-item>
    <mat-list-item role="listitem" class="subtitle">Consumo de WebService</mat-list-item>
    <mat-list-item role="listitem" class="subtitle">Visualização de lista de estabelecimentos</mat-list-item>
    <mat-list-item role="listitem" class="subtitle">Visualização de informações de um estabelecimento</mat-list-item>
    <mat-list-item role="listitem" class="subtitle">Serviço para salvar alteração dos estabelecimentos com LocalStorage</mat-list-item>
    <mat-list-item role="listitem" class="subtitle">Visualização do projeto Nasa APOD (Consumo da API e componentização da visualização)</mat-list-item>
  </mat-list>
</mat-card>
