
<div fxLayout="row" *ngIf="establishment;">
  <app-establishment-info [establishment]="establishment"></app-establishment-info>
</div>

<div fxLayout="row">
  <div class="title-box">
    <h2 mat-dialog-title class="label-1">Basic information</h2>
  </div>
</div>

<mat-divider></mat-divider>

<form class="form" [formGroup]="establishmentForm" (submit)="submit()">
  <mat-form-field class="establishment-full-width">
    <mat-label>Company</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <table class="establishment-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="establishment-full-width">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address"></textarea>
  </mat-form-field>

  <table class="establishment-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>Picture</mat-label>
          <input matInput formControlName="picture">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>Latitude</mat-label>
          <input matInput formControlName="latitude">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>Longitude</mat-label>
          <input matInput formControlName="longitude">
        </mat-form-field>
      </td>
    </tr>
  </table>
  
  <mat-form-field class="establishment-full-width">
    <mat-label>Registered</mat-label>
    <input matInput formControlName="registered">
  </mat-form-field>
  
  <div mat-dialog-actions align="end" >
    <button mat-raised-button color="basic" class="button-row" (click)="back()">
      <i class="fas fa-save icon-save"></i>&nbsp;Back
    </button>
    <button mat-raised-button color="primary" class="button-row">
      <i class="fas fa-save icon-save"></i>&nbsp;Save
    </button>
  </div>
</form>
