.establishment-form {
  min-width: 250px;
  width: 100%;
}

.establishment-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.form{
  margin-top: 1rem
}

.label-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4C5164;
  padding-top: 1rem;
}

.button-row {
  margin: 8px 8px 8px 0;
}