
<div fxLayout="row">
  <div class="picture-width" fxLayout="column" fxFlex="10" fxLayoutAlign="space-between strech">
    <img class="picture" [src]="establishment.picture">
  </div>
  <div fxLayout="column" fxFlex="90" fxLayoutAlign="space-between strech">
    <div fxLayout="row" fxFlex="30">
      <p class="label-1"> {{ establishment.name }}</p>
      <p class="label-3"> {{ establishment.phone }}</p>
    </div> 
    <div fxLayout="row" fxFlex="70">
      <p class="label-2"> {{ establishment.address }} </p>
    </div>
  </div>
</div>

<div fxLayout="row">
  <div class="title-box">
    <h2 mat-dialog-title class="label-1">Basic information</h2>
  </div>
</div>

<mat-divider></mat-divider>

<form [formGroup]="establishmentForm" (submit)="submit()" class="form">
  <mat-form-field class="establishment-full-width">
    <mat-label>Company</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <table class="establishment-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="establishment-full-width">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="establishment-full-width">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address"></textarea>
  </mat-form-field>
  
  <mat-form-field class="establishment-full-width">
    <mat-label>Registered</mat-label>
    <input matInput formControlName="registered">
  </mat-form-field>
  
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary">
      <i class="fas fa-save icon-save"></i>&nbsp;Save
    </button>
  </div>
</form>
